@keyframes puls {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.4;
    transform: scale(1.5); }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  direction: rtl; }

html {
  font-size: 62.5%; }

::-webkit-scrollbar {
  display: none; }

body {
  box-sizing: border-box;
  background-color: #191923;
  padding: 2rem; }
  @media only screen and (max-width: 68.75em) {
    body {
      padding: 8rem 0 0 0; } }

.container {
  display: grid;
  grid-template-rows: calc(100vh - 4rem);
  grid-template-columns: [profile-start] 3fr [profile-end main-start] 11fr [main-end]; }

a {
  text-decoration: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #575757;
  font-size: 1.7rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #575757;
  font-size: 1.7rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #575757;
  font-size: 1.7rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #575757;
  font-size: 1.7rem; }

body {
  font-family: BYekan, "BYekan", tahoma;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #e2e2e2; }

.heading-primary {
  color: #fff;
  font-size: 4rem;
  font-weight: 700; }

.heading-secondary {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  margin-block-start: 0; }

.heading-three {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: block; }

.heading-four {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block; }

.heading-five {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block; }

.paragraph {
  color: gray;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: justify; }

.section-title {
  width: 50%;
  margin: 0 auto 6rem auto;
  text-align: center; }
  .section-title p {
    margin-top: 1.5rem;
    text-align: center !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-y-small {
  margin: 1rem 0; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.6rem 2rem;
  display: inline-block;
  font-weight: 600px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.btn--white {
  color: #fff; }

.btn--yellow {
  background-color: #ffc00c;
  color: #2b2b2b;
  border: 0 !important; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #ffc00c;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text::after {
  content: "\f104";
  /* FontAwesome Unicode */
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: relative;
  top: 0.2rem;
  left: -0.1rem;
  width: 1.3em;
  /* same as padding-left set on li */
  color: #ffc00c;
  margin-right: 0.5rem;
  font-weight: 600;
  transition: all 0.5s linear; }

.btn-text:hover::after {
  transform: translate(-0.7rem, 0); }

.profile {
  grid-column: profile-start / profile-end;
  background-color: #20202a;
  box-shadow: 0 0rem 0.6rem rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  @media only screen and (max-width: 68.75em) {
    .profile {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      z-index: 10;
      width: 30rem;
      height: 100%;
      height: 100vh;
      transition: all 1s linear; } }
  .profile-active {
    transform: translateX(0); }
  .profile-main-div {
    overflow: scroll;
    height: 100%;
    height: 100vh; }
    .profile-main-div > * {
      margin: 0 3rem; }
  .profile-headbox {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 0;
    margin: 0;
    background-color: #242430;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.1); }
    .profile-headbox__img {
      width: 10rem;
      height: auto;
      border-radius: 50%; }
    .profile-headbox__text {
      font-size: 1.2rem; }
  .profile-imgbox {
    position: relative; }
  .profile-lamp {
    z-index: 6; }
    .profile-lamp::before {
      content: "";
      position: absolute;
      background: #fafafc;
      bottom: 0.9rem;
      left: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      -webkit-animation: puls 1s infinite;
      animation: puls 2s infinite; }
    .profile-lamp__available {
      position: absolute;
      bottom: 0.9rem;
      left: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      background: #ffc107;
      border-radius: 50%;
      z-index: 7;
      -webkit-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
  .profile-specifications {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    grid-gap: 0.4rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #3b3b41; }
    .profile-specifications__para {
      justify-self: flex-end; }
  .profile-language {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 2rem 0.5rem;
    border-bottom: 1px solid #3b3b41; }
    .profile-language__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .profile-language__circle {
      height: 6rem;
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      /* may require vendor prefixes */
      border: 3px solid #ffc00c;
      font-size: 1.5rem;
      color: gray;
      margin-bottom: 1rem; }
  .profile-skills {
    padding: 2rem 0;
    border-bottom: 1px solid #3b3b41; }
    .profile-skills__text {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between; }
    .profile-skills__line {
      width: 100%;
      height: 4px;
      background-color: #191923;
      margin: 0.3rem 0 2rem 0;
      position: relative; }
      .profile-skills__line::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 4px;
        background-color: #ffc00c; }
  .profile-summery {
    padding: 2rem 0;
    border-bottom: 1px solid #3b3b41; }
    .profile-summery__list {
      list-style: none; }
      .profile-summery__list li {
        color: gray;
        font-size: 1.3rem;
        font-weight: 600; }
        .profile-summery__list li:not(:last-child) {
          margin-bottom: 0.5rem; }
        .profile-summery__list li:before {
          content: "\f00c";
          /* FontAwesome Unicode */
          font-family: "Font Awesome 5 Free";
          display: inline-block;
          width: 1.3em;
          /* same as padding-left set on li */
          color: #ffc00c;
          margin-left: 0.5rem; }
  .profile-cv {
    padding: 2rem 0 6rem 0; }
    @media only screen and (max-width: 68.75em) {
      .profile-cv {
        padding: 2rem 0; } }
    .profile-cv__icon {
      font-size: 1.2rem;
      color: gray;
      margin-right: 0.7rem; }
  .profile-footerbox {
    position: sticky;
    bottom: 4rem;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    margin: 0;
    background-color: #242430;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 68.75em) {
      .profile-footerbox {
        bottom: 0; } }
    .profile-footerbox i {
      font-size: 1.5rem;
      color: gray;
      margin-right: 0.7rem; }

.main {
  grid-column: main-start / main-end;
  background-image: linear-gradient(to bottom, rgba(30, 30, 40, 0.9), #1e1e28 60%), url(../img/nat-4.jpg);
  background-size: cover;
  box-shadow: 0 0rem 0.6rem rgba(0, 0, 0, 0.1);
  overflow: scroll;
  padding: 3.5rem 3.5rem 0 3.5rem; }
  @media only screen and (max-width: 68.75em) {
    .main {
      grid-column: profile-start / main-end; } }
  @media only screen and (max-width: 56.25em) {
    .main {
      padding: 2rem 2rem 0 2rem; } }

.header {
  background-image: linear-gradient(to bottom, rgba(30, 30, 40, 0.75), rgba(30, 30, 40, 0.75)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position-y: -3rem;
  padding: 7rem 5rem 6rem 5rem;
  box-shadow: 0 0rem 0.6rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      text-align: center; } }
  @media only screen and (max-width: 43.75em) {
    .header {
      background-position-y: 0;
      transform: scale(1.1); } }
  .header__img {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 31rem;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .header__img {
        display: none; } }
  .header__title {
    margin: 1.5rem 0 3rem 0; }

.hamburger-box {
  display: none; }
  @media only screen and (max-width: 68.75em) {
    .hamburger-box {
      display: block;
      position: fixed;
      background-color: #191923;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      width: 100%;
      height: 8rem; } }

.hamburger-checkbox {
  position: absolute;
  top: 17px;
  right: 24px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 1s linear; }

.hamburger-active {
  transform: translateX(-30rem); }

.hamburger-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear; }
  .hamburger-btn > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
    .hamburger-btn > div:before, .hamburger-btn > div:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -10px;
      width: 100%;
      height: 2px;
      background-color: inherit; }
    .hamburger-btn > div:after {
      top: 10px; }

.hamburger-checkbox:checked + .hamburger-btn > div {
  transform: rotate(135deg); }

.hamburger-checkbox:checked + .hamburger-btn > div:before,
.hamburger-checkbox:checked + .hamburger-btn > div:after {
  top: 0;
  transform: rotate(90deg); }

.hamburger-checkbox:checked:hover + .hamburger-btn > div {
  transform: rotate(225); }

.numbers {
  padding: 3rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .numbers-div {
      width: 50%;
      margin-top: 1rem;
      margin-bottom: 1rem; } }
  .numbers-number {
    font-size: 2.5rem;
    padding-left: 2rem;
    color: #ffc00c;
    font-weight: 600; }

.services {
  margin-bottom: 3rem; }
  .services__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: start; }
    @media only screen and (max-width: 56.25em) {
      .services__cards-box {
        grid-gap: 2rem; } }
  .services__card {
    background-color: #2c2c38;
    padding: 2.5rem; }
    .services__card__text {
      margin: 1rem 0; }

.payment {
  margin-bottom: 3rem; }
  .payment__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column; }
    @media only screen and (max-width: 56.25em) {
      .payment__cards-box {
        display: flex;
        flex-flow: column wrap;
        grid-gap: 2rem; } }
  .payment__card {
    background-color: #2c2c38;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .payment__card > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .payment__card {
        width: 100%; } }
  .payment__price {
    font-size: 3.7rem;
    color: #ffc00c;
    font-weight: 600; }
  .payment__list {
    list-style: none;
    text-align: center; }
    .payment__list li {
      color: gray;
      font-size: 1.3rem;
      font-weight: 600; }
      .payment__list li:not(:last-child) {
        margin-bottom: 0.5rem; }
      .payment__list li:before {
        content: "\f00c";
        /* FontAwesome Unicode */
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        width: 1.3em;
        /* same as padding-left set on li */
        color: #ffc00c;
        margin-left: 0.5rem; }
    .payment__list-1 li:nth-last-child(n + 3):before {
      content: "\f00c";
      /* FontAwesome Unicode */
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      width: 1.3em;
      /* same as padding-left set on li */
      color: #ffc00c;
      margin-left: 0.5rem; }
    .payment__list-1 li:before {
      content: "\f00d";
      /* FontAwesome Unicode */
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      width: 1.3em;
      /* same as padding-left set on li */
      color: #ad8109;
      margin-left: 0.5rem; }
    .payment__list-2 li:nth-last-child(n + 2):before {
      content: "\f00c";
      /* FontAwesome Unicode */
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      width: 1.3em;
      /* same as padding-left set on li */
      color: #ffc00c;
      margin-left: 0.5rem; }
    .payment__list-2 li:before {
      content: "\f00d";
      /* FontAwesome Unicode */
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      width: 1.3em;
      /* same as padding-left set on li */
      color: #ad8109;
      margin-left: 0.5rem; }

.comment {
  margin-bottom: 3rem; }
  .comment__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column; }
    @media only screen and (max-width: 56.25em) {
      .comment__cards-box {
        display: block; } }
  .comment__card {
    background-color: #2c2c38;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .comment__card {
        width: 100%; }
        .comment__card:not(:last-child) {
          margin-bottom: 2rem; } }
  .comment__pic {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: -1.5rem;
    left: 3rem; }
  .comment__img {
    height: 100%;
    backface-visibility: hidden; }

.mywork {
  margin-bottom: 2.5rem; }
  .mywork-box {
    display: grid;
    grid-template: repeat(10, 6vw)/repeat(3, 1fr);
    grid-gap: 1.5rem; }
    @media only screen and (max-width: 43.75em) {
      .mywork-box {
        display: block; } }
  .mywork__item {
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .mywork__item {
        width: 100%; }
        .mywork__item:not(:last-child) {
          margin-bottom: 2rem; } }
    .mywork__item:hover .mywork__content {
      opacity: 1;
      transform: translate(0, -100%); }
    .mywork__item--1 {
      grid-row: 1 / span 4;
      grid-column: 1; }
    .mywork__item--2 {
      grid-row: 1 / span 5;
      grid-column: 2; }
    .mywork__item--3 {
      grid-row: 6 / -1;
      grid-column: 2; }
    .mywork__item--4 {
      grid-row: 5 / 8;
      grid-column: 1; }
    .mywork__item--5 {
      grid-row: 8 / -1;
      grid-column: 1; }
    .mywork__item--6 {
      grid-row: 1 / span 3;
      grid-column: 3; }
    .mywork__item--7 {
      grid-row: 4 / 9;
      grid-column: 3; }
    .mywork__item--8 {
      grid-row: 9 / -1;
      grid-column: 3; }
  .mywork__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s cubic-bezier(0.3, 0.1, 0.58, 1); }
    .mywork__img:hover {
      transform: scale(1.1); }
  .mywork__content {
    opacity: 0;
    background: linear-gradient(-159deg, rgba(45, 45, 58, 0.98) 0%, rgba(43, 43, 53, 0.98) 100%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.1, 0.58, 1); }
    @media only screen and (max-width: 43.75em) {
      .mywork__content {
        opacity: 1;
        transform: translate(0, -100%); } }

.past {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .past {
      flex-direction: column; } }
  .past-education__cards-div {
    position: relative; }
    .past-education__cards-div::before {
      content: "";
      position: absolute;
      top: 1rem;
      left: 1rem;
      height: calc(100% - 10px);
      width: 5px;
      background: #191923; }
  .past-education__cards-box {
    position: relative; }
    .past-education__cards-box:hover .past-education__card__light {
      -webkit-animation: puls 1s infinite;
      animation: puls 2s infinite; }
  .past-education__card {
    background-color: #2c2c38;
    padding: 2.5rem;
    margin-left: 5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    position: relative; }
    .past-education__card::after {
      height: 10px;
      width: 10px;
      background-color: rgba(43, 43, 53, 0.98);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      content: "";
      position: absolute;
      top: 11px;
      left: -5px;
      border-top-left-radius: 50%; }
    .past-education__card__head {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .past-education__card__head span {
        font-size: 1.2rem;
        background: #191923;
        padding: 0.7rem 1rem;
        color: gray;
        border-radius: 3rem; }
    .past-education__card__light {
      background: #fafafc;
      position: absolute;
      top: 0.3rem;
      left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      opacity: 0;
      border-radius: 50%;
      -webkit-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
    .past-education__card__yellow {
      position: absolute;
      top: 0.3rem;
      left: 0.5rem;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: solid 3px #ffc107;
      background: #1e1e28;
      box-shadow: 0 3px 8px 0 #0f0f01; }
  .past-work {
    padding-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .past-work {
        padding-right: 0; } }

.news {
  margin-bottom: 2.5rem; }
  .news__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column; }
    @media only screen and (max-width: 56.25em) {
      .news__cards-box {
        display: block; } }
  .news__card {
    background-color: #2c2c38; }
    @media only screen and (max-width: 56.25em) {
      .news__card {
        width: 100%; }
        .news__card:not(:last-child) {
          margin-bottom: 2rem; } }
    .news__card__img {
      max-width: 100%;
      height: auto; }
    .news__card__content {
      padding: 2rem 2rem; }

.information {
  margin-bottom: 3rem; }
  .information__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column; }
    @media only screen and (max-width: 56.25em) {
      .information__cards-box {
        display: block; } }
  .information__card {
    background-color: #2c2c38;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 3rem;
    min-height: 17rem; }
    @media only screen and (max-width: 56.25em) {
      .information__card {
        width: 100%; }
        .information__card:not(:last-child) {
          margin-bottom: 2rem; } }
  .information__para {
    justify-self: flex-end; }

.call {
  margin-bottom: 3rem; }
  .call__box {
    background-color: #2c2c38;
    padding: 3rem; }
    .call__box__form {
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap; }
      .call__box__form > * {
        margin-bottom: 3rem; }
      .call__box__form__input {
        width: 100%;
        background-color: #1e1e28;
        padding: 2rem 6rem 2rem 1rem; }
    .call__box__inputs-box {
      position: relative; }
      .call__box__inputs-box > * {
        border: 0;
        color: white; }
      .call__box__inputs-box i {
        position: absolute;
        font-size: 1.6rem;
        color: gray;
        top: 1.8rem;
        right: 2rem; }

.brands {
  padding: 2rem 0 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .brands {
      display: block;
      text-align: center; } }
  .brands i {
    font-size: 7rem;
    color: #575757;
    font-weight: 600; }
    @media only screen and (max-width: 31.25em) {
      .brands i {
        display: block; }
        .brands i:not(:last-child) {
          margin-bottom: 3rem; } }

.main-footer {
  background-color: #2c2c38;
  width: 100%;
  padding: 1.7rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 31.25em) {
    .main-footer {
      flex-direction: column;
      align-items: center; } }
